<a href="https://colab.research.google.com/github/chandravaran/Machine-Learning-SMP-2019/blob/master/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/ACM-NITK/Machine-Learning-SMP-2019/master/Assignment%201/PL18-19.csv')

In [0]:
df

           Date        HomeTeam        AwayTeam  FTHG  FTAG  ...  AC  HY  AY HR AR
0    2018-08-10      Man United       Leicester     2     1  ...   5   2   1  0  0
1    2018-08-11     Bournemouth         Cardiff     2     0  ...   4   1   1  0  0
2    2018-08-11          Fulham  Crystal Palace     0     2  ...   5   1   2  0  0
3    2018-08-11    Huddersfield         Chelsea     0     3  ...   5   2   1  0  0
4    2018-08-11       Newcastle       Tottenham     1     2  ...   5   2   2  0  0
5    2018-08-11         Watford        Brighton     2     0  ...   2   2   2  0  0
6    2018-08-11          Wolves         Everton     2     2  ...   6   0   1  0  1
7    2018-08-12         Arsenal        Man City     0     2  ...   9   2   2  0  0
8    2018-08-12       Liverpool        West Ham     4     0  ...   4   1   2  0  0
9    2018-08-12     Southampton         Burnley     0     0  ...   5   0   1  0  0
10   2018-08-18         Cardiff       Newcastle     0     0  ...   5   2   2  0  1
11   2018-08-18         Chelsea         Arsenal     3     2  ...   1   0   2  0  0
12   2018-08-18         Everton     Southampton     2     1  ...   5   0   5  0  0
13   2018-08-18       Leicester          Wolves     2     0  ...   9   2   1  1  0
14   2018-08-18       Tottenham          Fulham     3     1  ...   2   0   0  0  0
15   2018-08-18        West Ham     Bournemouth     1     2  ...   4   6   2  0  0
16   2018-08-19        Brighton      Man United     3     2  ...   5   1   1  0  0
17   2018-08-19         Burnley         Watford     1     3  ...   2   1   2  0  0
18   2018-08-19        Man City    Huddersfield     6     1  ...   3   0   2  0  0
19   2018-08-20  Crystal Palace       Liverpool     0     2  ...   7   1   1  1  0
20   2018-08-25         Arsenal        West Ham     3     1  ...   2   1   3  0  0
21   2018-08-25     Bournemouth         Everton     2     2  ...   2   0   3  1  1
22   2018-08-25    Huddersfield         Cardiff     0     0  ...   7   0   1  1  0
23   2018-08-25       Liverpool        Brighton     1     0  ...   5   1   1  0  0
24   2018-08-25     Southampton       Leicester     1     2  ...   3   1   1  1  0
25   2018-08-25          Wolves        Man City     1     1  ...   9   1   2  0  0
26   2018-08-26          Fulham         Burnley     4     2  ...   4   2   1  0  0
27   2018-08-26       Newcastle         Chelsea     1     2  ...   5   3   1  0  0
28   2018-08-26         Watford  Crystal Palace     2     1  ...   3   4   2  0  0
29   2018-08-27      Man United       Tottenham     0     3  ...   2   2   4  0  0
..          ...             ...             ...   ...   ...  ...  ..  ..  .. .. ..
350  2019-04-26       Liverpool    Huddersfield     5     0  ...   4   0   0  0  0
351  2019-04-27        Brighton       Newcastle     1     1  ...   4   2   3  0  0
352  2019-04-27  Crystal Palace         Everton     0     0  ...  10   2   0  0  0
353  2019-04-27          Fulham         Cardiff     1     0  ...   3   0   0  0  0
354  2019-04-27     Southampton     Bournemouth     3     3  ...   3   2   1  0  0
355  2019-04-27       Tottenham        West Ham     0     1  ...   7   0   2  0  0
356  2019-04-27         Watford          Wolves     1     2  ...   5   3   2  0  0
357  2019-04-28         Burnley        Man City     0     1  ...   6   1   1  0  0
358  2019-04-28       Leicester         Arsenal     3     0  ...   6   3   1  0  1
359  2019-04-28      Man United         Chelsea     1     1  ...   6   3   2  0  0
360  2019-05-03         Everton         Burnley     2     0  ...   1   0   2  0  0
361  2019-05-04     Bournemouth       Tottenham     1     0  ...   6   1   5  0  2
362  2019-05-04         Cardiff  Crystal Palace     2     3  ...   5   0   0  0  0
363  2019-05-04       Newcastle       Liverpool     2     3  ...   3   1   1  0  0
364  2019-05-04        West Ham     Southampton     3     0  ...   7   1   1  0  0
365  2019-05-04          Wolves          Fulham     1     0  ...   1   1   3  0  0
366  2019-05-05         Arsenal        Brighton     1     1  ...   3   5   2  0  0
367  2019-05-05         Chelsea         Watford     3     0  ...   6   0   1  0  0
368  2019-05-05    Huddersfield      Man United     1     1  ...   7   1   1  0  0
369  2019-05-06        Man City       Leicester     1     0  ...   0   3   2  0  0
370  2019-05-12        Brighton        Man City     1     4  ...   6   0   0  0  0
371  2019-05-12         Burnley         Arsenal     1     3  ...   5   5   1  0  0
372  2019-05-12  Crystal Palace     Bournemouth     5     3  ...   4   3   0  0  0
373  2019-05-12          Fulham       Newcastle     0     4  ...   5   1   0  0  0
374  2019-05-12       Leicester         Chelsea     0     0  ...   5   0   1  0  0
375  2019-05-12       Liverpool          Wolves     2     0  ...   1   0   2  0  0
376  2019-05-12      Man United         Cardiff     0     2  ...   2   3   3  0  0
377  2019-05-12     Southampton    Huddersfield     1     1  ...   3   0   1  0  0
378  2019-05-12       Tottenham         Everton     2     2  ...   4   0   2  0  0
379  2019-05-12         Watford        West Ham     1     4  ...   2   1   0  1  0

[380 rows x 22 columns]

In [0]:
df1=df.rename(index=str,columns={"FTHG" : "Goals by Home at Full","FTAG" : "Goals by Away at Full","HTHG" : "Goals by Home at Half","HTAG" : "Goals by Away at Half", "FTR" : "Full Time Results","HTR" : "Half Time Result"})

we are renaming the columns here half of them

In [0]:
df1=df1.rename(index=str,columns={"HS" : "Home Shots","AS" : "Away Shots","HST" : "Home Shots on Target","AST" : "Away Shots on Target","HF" : "Home fouls","AF" : "Away Fouls","HC" : "Home Corners","AC" : "Away Corners","HY" : "Home Yellow Cards","AY" : "Away Yellow Cards","HR" : "Home Red Cards","AR" : "Away Red Cards"})

In [0]:
df1

           Date        HomeTeam  ... Home Red Cards  Away Red Cards
0    2018-08-10      Man United  ...              0               0
1    2018-08-11     Bournemouth  ...              0               0
2    2018-08-11          Fulham  ...              0               0
3    2018-08-11    Huddersfield  ...              0               0
4    2018-08-11       Newcastle  ...              0               0
5    2018-08-11         Watford  ...              0               0
6    2018-08-11          Wolves  ...              0               1
7    2018-08-12         Arsenal  ...              0               0
8    2018-08-12       Liverpool  ...              0               0
9    2018-08-12     Southampton  ...              0               0
10   2018-08-18         Cardiff  ...              0               1
11   2018-08-18         Chelsea  ...              0               0
12   2018-08-18         Everton  ...              0               0
13   2018-08-18       Leicester  ...              1               0
14   2018-08-18       Tottenham  ...              0               0
15   2018-08-18        West Ham  ...              0               0
16   2018-08-19        Brighton  ...              0               0
17   2018-08-19         Burnley  ...              0               0
18   2018-08-19        Man City  ...              0               0
19   2018-08-20  Crystal Palace  ...              1               0
20   2018-08-25         Arsenal  ...              0               0
21   2018-08-25     Bournemouth  ...              1               1
22   2018-08-25    Huddersfield  ...              1               0
23   2018-08-25       Liverpool  ...              0               0
24   2018-08-25     Southampton  ...              1               0
25   2018-08-25          Wolves  ...              0               0
26   2018-08-26          Fulham  ...              0               0
27   2018-08-26       Newcastle  ...              0               0
28   2018-08-26         Watford  ...              0               0
29   2018-08-27      Man United  ...              0               0
..          ...             ...  ...            ...             ...
350  2019-04-26       Liverpool  ...              0               0
351  2019-04-27        Brighton  ...              0               0
352  2019-04-27  Crystal Palace  ...              0               0
353  2019-04-27          Fulham  ...              0               0
354  2019-04-27     Southampton  ...              0               0
355  2019-04-27       Tottenham  ...              0               0
356  2019-04-27         Watford  ...              0               0
357  2019-04-28         Burnley  ...              0               0
358  2019-04-28       Leicester  ...              0               1
359  2019-04-28      Man United  ...              0               0
360  2019-05-03         Everton  ...              0               0
361  2019-05-04     Bournemouth  ...              0               2
362  2019-05-04         Cardiff  ...              0               0
363  2019-05-04       Newcastle  ...              0               0
364  2019-05-04        West Ham  ...              0               0
365  2019-05-04          Wolves  ...              0               0
366  2019-05-05         Arsenal  ...              0               0
367  2019-05-05         Chelsea  ...              0               0
368  2019-05-05    Huddersfield  ...              0               0
369  2019-05-06        Man City  ...              0               0
370  2019-05-12        Brighton  ...              0               0
371  2019-05-12         Burnley  ...              0               0
372  2019-05-12  Crystal Palace  ...              0               0
373  2019-05-12          Fulham  ...              0               0
374  2019-05-12       Leicester  ...              0               0
375  2019-05-12       Liverpool  ...              0               0
376  2019-05-12      Man United  ...              0               0
377  2019-05-12     Southampton  ...              0               0
378  2019-05-12       Tottenham  ...              0               0
379  2019-05-12         Watford  ...              1               0

[380 rows x 22 columns]

In [0]:
a1=df1['HomeTeam'].unique()
a1.sort()
a1

array(['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff',
       'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield',
       'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle',
       'Southampton', 'Tottenham', 'Watford', 'West Ham', 'Wolves'],
      dtype=object)

In [0]:
a2=df1['AwayTeam'].unique()
a2.sort()
a2

array(['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff',
       'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield',
       'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle',
       'Southampton', 'Tottenham', 'Watford', 'West Ham', 'Wolves'],
      dtype=object)

the teams in home and away are same so this is list of the playing teams

In [0]:
df1['Home Shots']+df1['Away Shots']

0      21
1      22
2      25
3      19
4      30
5      25
6      17
7      26
8      23
9      34
10     24
11     39
12     28
13     17
14     35
15     23
16     15
17     17
18     37
19     24
20     30
21     28
22     19
23     28
24     19
25     29
26     37
27     21
28     22
29     32
       ..
350    26
351    18
352    30
353    21
354    31
355    30
356    21
357    27
358    30
359    23
360    25
361    31
362    39
363    25
364    28
365    25
366    31
367    34
368    30
369    26
370    26
371    31
372    33
373    29
374    23
375    20
376    39
377    20
378    28
379    33
Length: 380, dtype: int64

In [0]:
df1['sum of shots']=df1['Home Shots']+df1['Away Shots']
df1

           Date        HomeTeam  ... Away Red Cards  sum of shots
0    2018-08-10      Man United  ...              0            21
1    2018-08-11     Bournemouth  ...              0            22
2    2018-08-11          Fulham  ...              0            25
3    2018-08-11    Huddersfield  ...              0            19
4    2018-08-11       Newcastle  ...              0            30
5    2018-08-11         Watford  ...              0            25
6    2018-08-11          Wolves  ...              1            17
7    2018-08-12         Arsenal  ...              0            26
8    2018-08-12       Liverpool  ...              0            23
9    2018-08-12     Southampton  ...              0            34
10   2018-08-18         Cardiff  ...              1            24
11   2018-08-18         Chelsea  ...              0            39
12   2018-08-18         Everton  ...              0            28
13   2018-08-18       Leicester  ...              0            17
14   2018-08-18       Tottenham  ...              0            35
15   2018-08-18        West Ham  ...              0            23
16   2018-08-19        Brighton  ...              0            15
17   2018-08-19         Burnley  ...              0            17
18   2018-08-19        Man City  ...              0            37
19   2018-08-20  Crystal Palace  ...              0            24
20   2018-08-25         Arsenal  ...              0            30
21   2018-08-25     Bournemouth  ...              1            28
22   2018-08-25    Huddersfield  ...              0            19
23   2018-08-25       Liverpool  ...              0            28
24   2018-08-25     Southampton  ...              0            19
25   2018-08-25          Wolves  ...              0            29
26   2018-08-26          Fulham  ...              0            37
27   2018-08-26       Newcastle  ...              0            21
28   2018-08-26         Watford  ...              0            22
29   2018-08-27      Man United  ...              0            32
..          ...             ...  ...            ...           ...
350  2019-04-26       Liverpool  ...              0            26
351  2019-04-27        Brighton  ...              0            18
352  2019-04-27  Crystal Palace  ...              0            30
353  2019-04-27          Fulham  ...              0            21
354  2019-04-27     Southampton  ...              0            31
355  2019-04-27       Tottenham  ...              0            30
356  2019-04-27         Watford  ...              0            21
357  2019-04-28         Burnley  ...              0            27
358  2019-04-28       Leicester  ...              1            30
359  2019-04-28      Man United  ...              0            23
360  2019-05-03         Everton  ...              0            25
361  2019-05-04     Bournemouth  ...              2            31
362  2019-05-04         Cardiff  ...              0            39
363  2019-05-04       Newcastle  ...              0            25
364  2019-05-04        West Ham  ...              0            28
365  2019-05-04          Wolves  ...              0            25
366  2019-05-05         Arsenal  ...              0            31
367  2019-05-05         Chelsea  ...              0            34
368  2019-05-05    Huddersfield  ...              0            30
369  2019-05-06        Man City  ...              0            26
370  2019-05-12        Brighton  ...              0            26
371  2019-05-12         Burnley  ...              0            31
372  2019-05-12  Crystal Palace  ...              0            33
373  2019-05-12          Fulham  ...              0            29
374  2019-05-12       Leicester  ...              0            23
375  2019-05-12       Liverpool  ...              0            20
376  2019-05-12      Man United  ...              0            39
377  2019-05-12     Southampton  ...              0            20
378  2019-05-12       Tottenham  ...              0            28
379  2019-05-12         Watford  ...              0            33

[380 rows x 23 columns]

In [0]:
df1['sum of shots'].max()

42

max shots taken overall

In [0]:
df1[df1['sum of shots'].max()==df1['sum of shots']]

           Date   HomeTeam  ... Away Red Cards  sum of shots
168  2018-12-16  Liverpool  ...              0            42

[1 rows x 23 columns]

details of the match with max shots

In [0]:
(df1['Home Shots on Target']+df1['Away Shots on Target']).mean()/(df1['Home Shots']+df1['Away Shots']).mean()

0.3437760199833472

the answer of fourth question

In [0]:
df1['Total Cards Given in Match']=df1['Home Yellow Cards']+df1['Away Yellow Cards']+df1['Home Red Cards']+df1['Away Red Cards']

In [0]:
df1

           Date        HomeTeam  ... sum of shots  Total Cards Given in Match
0    2018-08-10      Man United  ...           21                           3
1    2018-08-11     Bournemouth  ...           22                           2
2    2018-08-11          Fulham  ...           25                           3
3    2018-08-11    Huddersfield  ...           19                           3
4    2018-08-11       Newcastle  ...           30                           4
5    2018-08-11         Watford  ...           25                           4
6    2018-08-11          Wolves  ...           17                           2
7    2018-08-12         Arsenal  ...           26                           4
8    2018-08-12       Liverpool  ...           23                           3
9    2018-08-12     Southampton  ...           34                           1
10   2018-08-18         Cardiff  ...           24                           5
11   2018-08-18         Chelsea  ...           39                           2
12   2018-08-18         Everton  ...           28                           5
13   2018-08-18       Leicester  ...           17                           4
14   2018-08-18       Tottenham  ...           35                           0
15   2018-08-18        West Ham  ...           23                           8
16   2018-08-19        Brighton  ...           15                           2
17   2018-08-19         Burnley  ...           17                           3
18   2018-08-19        Man City  ...           37                           2
19   2018-08-20  Crystal Palace  ...           24                           3
20   2018-08-25         Arsenal  ...           30                           4
21   2018-08-25     Bournemouth  ...           28                           5
22   2018-08-25    Huddersfield  ...           19                           2
23   2018-08-25       Liverpool  ...           28                           2
24   2018-08-25     Southampton  ...           19                           3
25   2018-08-25          Wolves  ...           29                           3
26   2018-08-26          Fulham  ...           37                           3
27   2018-08-26       Newcastle  ...           21                           4
28   2018-08-26         Watford  ...           22                           6
29   2018-08-27      Man United  ...           32                           6
..          ...             ...  ...          ...                         ...
350  2019-04-26       Liverpool  ...           26                           0
351  2019-04-27        Brighton  ...           18                           5
352  2019-04-27  Crystal Palace  ...           30                           2
353  2019-04-27          Fulham  ...           21                           0
354  2019-04-27     Southampton  ...           31                           3
355  2019-04-27       Tottenham  ...           30                           2
356  2019-04-27         Watford  ...           21                           5
357  2019-04-28         Burnley  ...           27                           2
358  2019-04-28       Leicester  ...           30                           5
359  2019-04-28      Man United  ...           23                           5
360  2019-05-03         Everton  ...           25                           2
361  2019-05-04     Bournemouth  ...           31                           8
362  2019-05-04         Cardiff  ...           39                           0
363  2019-05-04       Newcastle  ...           25                           2
364  2019-05-04        West Ham  ...           28                           2
365  2019-05-04          Wolves  ...           25                           4
366  2019-05-05         Arsenal  ...           31                           7
367  2019-05-05         Chelsea  ...           34                           1
368  2019-05-05    Huddersfield  ...           30                           2
369  2019-05-06        Man City  ...           26                           5
370  2019-05-12        Brighton  ...           26                           0
371  2019-05-12         Burnley  ...           31                           6
372  2019-05-12  Crystal Palace  ...           33                           3
373  2019-05-12          Fulham  ...           29                           1
374  2019-05-12       Leicester  ...           23                           1
375  2019-05-12       Liverpool  ...           20                           2
376  2019-05-12      Man United  ...           39                           6
377  2019-05-12     Southampton  ...           20                           1
378  2019-05-12       Tottenham  ...           28                           2
379  2019-05-12         Watford  ...           33                           2

[380 rows x 24 columns]

In [0]:
df1[['Referee','Total Cards Given in Match']]

        Referee  Total Cards Given in Match
0    A Marriner                           3
1      K Friend                           2
2        M Dean                           3
3    C Kavanagh                           3
4    M Atkinson                           4
5        J Moss                           4
6      C Pawson                           2
7      M Oliver                           4
8      A Taylor                           3
9       G Scott                           1
10     C Pawson                           5
11   M Atkinson                           2
12      L Mason                           5
13       M Dean                           4
14     A Taylor                           0
15    S Attwell                           8
16     K Friend                           2
17    P Tierney                           3
18   A Marriner                           2
19     M Oliver                           3
20      G Scott                           4
21    L Probert                           5
22     M Oliver                           2
23   C Kavanagh                           2
24       J Moss                           3
25   M Atkinson                           3
26      D Coote                           3
27    P Tierney                           4
28     A Taylor                           6
29     C Pawson                           6
..          ...                         ...
350    K Friend                           0
351      M Dean                           5
352     L Mason                           2
353  C Kavanagh                           0
354     G Scott                           3
355    A Taylor                           2
356    S Hooper                           5
357   P Tierney                           2
358    M Oliver                           5
359  M Atkinson                           5
360  C Kavanagh                           2
361    C Pawson                           8
362    M Oliver                           0
363  A Marriner                           2
364   S Attwell                           2
365      J Moss                           4
366    A Taylor                           7
367   P Tierney                           1
368     L Mason                           2
369      M Dean                           5
370    M Oliver                           0
371      M Dean                           6
372      R East                           3
373    K Friend                           1
374    A Taylor                           1
375  M Atkinson                           2
376      J Moss                           6
377   L Probert                           1
378  A Marriner                           2
379  C Kavanagh                           2

[380 rows x 2 columns]

In [0]:
a3=df2['Referee'].unique()
a3

NameError: ignored

In [0]:
n=len(a3)
n

19

In [0]:
df1[['Referee','Total Cards Given in Match']].groupby('Referee').sum()

             Total Cards Given in Match
Referee
A Madley                              2
A Marriner                           76
A Taylor                            103
C Kavanagh                           76
C Pawson                             99
D Coote                              35
G Scott                              39
J Linington                           4
J Moss                               98
K Friend                             92
L Mason                              64
L Probert                            50
M Atkinson                           92
M Dean                              137
M Oliver                             90
P Tierney                            83
R East                               44
S Attwell                            64
S Hooper                             20

In [0]:
df1['Home Cards']=df1['Home Yellow Cards']+df1['Home Red Cards']
df1['Away Cards']=df1['Away Red Cards']+df1['Away Yellow Cards']
df1

           Date        HomeTeam  ... Home Cards  Away Cards
0    2018-08-10      Man United  ...          2           1
1    2018-08-11     Bournemouth  ...          1           1
2    2018-08-11          Fulham  ...          1           2
3    2018-08-11    Huddersfield  ...          2           1
4    2018-08-11       Newcastle  ...          2           2
5    2018-08-11         Watford  ...          2           2
6    2018-08-11          Wolves  ...          0           2
7    2018-08-12         Arsenal  ...          2           2
8    2018-08-12       Liverpool  ...          1           2
9    2018-08-12     Southampton  ...          0           1
10   2018-08-18         Cardiff  ...          2           3
11   2018-08-18         Chelsea  ...          0           2
12   2018-08-18         Everton  ...          0           5
13   2018-08-18       Leicester  ...          3           1
14   2018-08-18       Tottenham  ...          0           0
15   2018-08-18        West Ham  ...          6           2
16   2018-08-19        Brighton  ...          1           1
17   2018-08-19         Burnley  ...          1           2
18   2018-08-19        Man City  ...          0           2
19   2018-08-20  Crystal Palace  ...          2           1
20   2018-08-25         Arsenal  ...          1           3
21   2018-08-25     Bournemouth  ...          1           4
22   2018-08-25    Huddersfield  ...          1           1
23   2018-08-25       Liverpool  ...          1           1
24   2018-08-25     Southampton  ...          2           1
25   2018-08-25          Wolves  ...          1           2
26   2018-08-26          Fulham  ...          2           1
27   2018-08-26       Newcastle  ...          3           1
28   2018-08-26         Watford  ...          4           2
29   2018-08-27      Man United  ...          2           4
..          ...             ...  ...        ...         ...
350  2019-04-26       Liverpool  ...          0           0
351  2019-04-27        Brighton  ...          2           3
352  2019-04-27  Crystal Palace  ...          2           0
353  2019-04-27          Fulham  ...          0           0
354  2019-04-27     Southampton  ...          2           1
355  2019-04-27       Tottenham  ...          0           2
356  2019-04-27         Watford  ...          3           2
357  2019-04-28         Burnley  ...          1           1
358  2019-04-28       Leicester  ...          3           2
359  2019-04-28      Man United  ...          3           2
360  2019-05-03         Everton  ...          0           2
361  2019-05-04     Bournemouth  ...          1           7
362  2019-05-04         Cardiff  ...          0           0
363  2019-05-04       Newcastle  ...          1           1
364  2019-05-04        West Ham  ...          1           1
365  2019-05-04          Wolves  ...          1           3
366  2019-05-05         Arsenal  ...          5           2
367  2019-05-05         Chelsea  ...          0           1
368  2019-05-05    Huddersfield  ...          1           1
369  2019-05-06        Man City  ...          3           2
370  2019-05-12        Brighton  ...          0           0
371  2019-05-12         Burnley  ...          5           1
372  2019-05-12  Crystal Palace  ...          3           0
373  2019-05-12          Fulham  ...          1           0
374  2019-05-12       Leicester  ...          0           1
375  2019-05-12       Liverpool  ...          0           2
376  2019-05-12      Man United  ...          3           3
377  2019-05-12     Southampton  ...          0           1
378  2019-05-12       Tottenham  ...          0           2
379  2019-05-12         Watford  ...          2           0

[380 rows x 26 columns]

In [0]:
df3=df1[['HomeTeam','Home Cards']].groupby('HomeTeam').sum()
df4=df1[['AwayTeam','Away Cards']].groupby('AwayTeam').sum()
a=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
df4['a']=a
df4

                Away Cards   a
AwayTeam
Arsenal                 34   0
Bournemouth             24   1
Brighton                32   2
Burnley                 43   3
Cardiff                 33   4
Chelsea                 29   5
Crystal Palace          34   6
Everton                 35   7
Fulham                  35   8
Huddersfield            29   9
Leicester               27  10
Liverpool               25  11
Man City                28  12
Man United              44  13
Newcastle               33  14
Southampton             33  15
Tottenham               39  16
Watford                 40  17
West Ham                32  18
Wolves                  40  19

In [0]:
df4=df4.set_index('a')

In [0]:
df3['a']=a
df3=df3.set_index('a')
b=df1['HomeTeam'].unique()
b.sort()
b
df3['Team']=b
df3

    Home Cards            Team
a
0           40         Arsenal
1           37     Bournemouth
2           32        Brighton
3           33         Burnley
4           33         Cardiff
5           21         Chelsea
6           26  Crystal Palace
7           24         Everton
8           35          Fulham
9           30    Huddersfield
10          35       Leicester
11          14       Liverpool
12          17        Man City
13          33      Man United
14          26       Newcastle
15          41     Southampton
16          20       Tottenham
17          41         Watford
18          28        West Ham
19          33          Wolves

In [0]:
df4['Team']=b
df4

    Away Cards            Team
a
0           34         Arsenal
1           24     Bournemouth
2           32        Brighton
3           43         Burnley
4           33         Cardiff
5           29         Chelsea
6           34  Crystal Palace
7           35         Everton
8           35          Fulham
9           29    Huddersfield
10          27       Leicester
11          25       Liverpool
12          28        Man City
13          44      Man United
14          33       Newcastle
15          33     Southampton
16          39       Tottenham
17          40         Watford
18          32        West Ham
19          40          Wolves

In [0]:
result=pd.merge(df3,df4,on='a')
result

    Home Cards          Team_x  Away Cards          Team_y
a
0           40         Arsenal          34         Arsenal
1           37     Bournemouth          24     Bournemouth
2           32        Brighton          32        Brighton
3           33         Burnley          43         Burnley
4           33         Cardiff          33         Cardiff
5           21         Chelsea          29         Chelsea
6           26  Crystal Palace          34  Crystal Palace
7           24         Everton          35         Everton
8           35          Fulham          35          Fulham
9           30    Huddersfield          29    Huddersfield
10          35       Leicester          27       Leicester
11          14       Liverpool          25       Liverpool
12          17        Man City          28        Man City
13          33      Man United          44      Man United
14          26       Newcastle          33       Newcastle
15          41     Southampton          33     Southampton
16          20       Tottenham          39       Tottenham
17          41         Watford          40         Watford
18          28        West Ham          32        West Ham
19          33          Wolves          40          Wolves

In [0]:
result
result['total cards']=result['Home Cards']+result['Away Cards']
result

    Home Cards          Team_x  Away Cards          Team_y  total cards
a
0           40         Arsenal          34         Arsenal           74
1           37     Bournemouth          24     Bournemouth           61
2           32        Brighton          32        Brighton           64
3           33         Burnley          43         Burnley           76
4           33         Cardiff          33         Cardiff           66
5           21         Chelsea          29         Chelsea           50
6           26  Crystal Palace          34  Crystal Palace           60
7           24         Everton          35         Everton           59
8           35          Fulham          35          Fulham           70
9           30    Huddersfield          29    Huddersfield           59
10          35       Leicester          27       Leicester           62
11          14       Liverpool          25       Liverpool           39
12          17        Man City          28        Man City           45
13          33      Man United          44      Man United           77
14          26       Newcastle          33       Newcastle           59
15          41     Southampton          33     Southampton           74
16          20       Tottenham          39       Tottenham           59
17          41         Watford          40         Watford           81
18          28        West Ham          32        West Ham           60
19          33          Wolves          40          Wolves           73

the right most columns gives us the cards

In [0]:
result[['Team_y','total cards']][result['total cards']==result['total cards'].max()]

     Team_y  total cards
a
17  Watford           81

answer for 6th question

In [0]:
df1['result']=(df1['Full Time Results']=='H').astype('int64')
df1.head()

         Date      HomeTeam        AwayTeam  ...  Home Cards  Away Cards result
0  2018-08-10    Man United       Leicester  ...           2           1      1
1  2018-08-11   Bournemouth         Cardiff  ...           1           1      1
2  2018-08-11        Fulham  Crystal Palace  ...           1           2      0
3  2018-08-11  Huddersfield         Chelsea  ...           2           1      0
4  2018-08-11     Newcastle       Tottenham  ...           2           2      0

[5 rows x 27 columns]

In [0]:
df5=df1[['Referee','HomeTeam','result']].groupby('Referee').mean()
df5.head()

              result
Referee
A Madley    1.000000
A Marriner  0.370370
A Taylor    0.625000
C Kavanagh  0.583333
C Pawson    0.269231

In [0]:
df5[df5['result']==df5['result'].max()]

          result
Referee
A Madley     1.0

answer to the seventh one

In [0]:
df1['half result']=(df1['Half Time Result']=='H').astype('int64')
df1.head()

         Date      HomeTeam        AwayTeam  ...  Away Cards  result half result
0  2018-08-10    Man United       Leicester  ...           1       1           1
1  2018-08-11   Bournemouth         Cardiff  ...           1       1           1
2  2018-08-11        Fulham  Crystal Palace  ...           2       0           0
3  2018-08-11  Huddersfield         Chelsea  ...           1       0           0
4  2018-08-11     Newcastle       Tottenham  ...           2       0           0

[5 rows x 28 columns]

In [0]:
df1['full result']=(df1['half result']==df1['result']).astype('int64')
(df1['full result'].mean())*100

75.0

this is the percentage of teams who won after half and full

In [2]:
import pandas as pd
from google.colab import files
uploaded= files.upload()

Saving table1.csv to table1.csv

In [4]:
import io
df6=pd.read_csv(io.BytesIO(uploaded['table1.csv']))
df6

    Rank                     Team  ...  Goal's difference  Points
0      1        Manchester United  ...                 11      80
1      2                  Chelsea  ...                  8      71
2      3          Manchester City  ...                  8      71
3      4                  Arsenal  ...                 11      68
4      5        Tottenham Hotspur  ...                 14      62
5      6                Liverpool  ...                  7      58
6      7                  Everton  ...                 15      54
7      8                   Fulham  ...                 16      49
8      9              Aston Villa  ...                 12      48
9     10               Sunderland  ...                 11      47
10    11     West Bromwich Albion  ...                 11      47
11    12         Newcastle United  ...                 13      46
12    13               Stoke City  ...                  7      46
13    14         Bolton Wanderers  ...                 10      46
14    15         Blackburn Rovers  ...                 10      43
15    16           Wigan Athletic  ...                 15      42
16    17  Wolverhampton Wanderers  ...                  7      40
17    18          Birmingham City  ...                 15      39
18    19                Blackpool  ...                  9      39
19    20          West Ham United  ...                 12      33

[20 rows x 10 columns]

this is the second question ans.